#catalog {
  text-align: center;
}

.product {
  margin-bottom: 20px;
}

.product-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.5em;
  color: #333;
}

.product-description {
  font-size: 1em;
  color: #666;
  margin: 0rem 3rem;
}
